<div class="container" class="m-3">
  <h1>Stupid coaching</h1>
  <form action="/answer" data-turbo="false"class="d-flex flex-row mb-2 align-items-end">
    <div >
      <label for="inputQuestion" class="form-label">Ask your coach anything : </label>
      <input type="text" name="question" id="inputQuestion" class="form-control w-100">
    </div>
    <div >
      <input type="submit" value="Ask!" class="btn btn-primary mb-0">
    </div>
  </form>
</div>
